In [26]:
import numpy  as  np
import matplotlib.pyplot as plt
import pandas as pd
import seaborn as sns

from sklearn.model_selection import train_test_split  
from sklearn.metrics import mean_squared_error,r2_score
from sklearn.neighbors import KNeighborsRegressor
from sklearn.tree import DecisionTreeRegressor  
from sklearn.ensemble import RandomForestRegressor,AdaBoostRegressor
from sklearn.svm import SVR
from sklearn.linear_model import LinearRegression,Ridge,Lasso
from sklearn.metrics import mean_absolute_error, r2_score,mean_squared_error
from sklearn.model_selection import RandomizedSearchCV
from catboost import CatBoostRegressor
from xgboost import XGBRegressor
import warnings

In [7]:
df = pd.read_csv('StudentsPerformance.csv')

In [8]:
df.head()

,gender,race/ethnicity,parental level of education,lunch,test preparation course,math score,reading score,writing score
0,female,group B,bachelor's degree,standard,none,72,72,74
1,female,group C,some college,standard,completed,69,90,88
2,female,group B,master's degree,standard,none,90,95,93
3,male,group A,associate's degree,free/reduced,none,47,57,44
4,male,group C,some college,standard,none,76,78,75

In [20]:
# preparing X and Y variables
x=df.drop(columns=['math score'],axis=1)
y=df['math score']
x.head()
y.head()

0    72
1    69
2    90
3    47
4    76
Name: math score, dtype: int64

In [21]:
num_features = x.select_dtypes(exclude="object").columns
cat_features = x.select_dtypes(include="object").columns

from sklearn.preprocessing import OneHotEncoder, StandardScaler
from sklearn.compose import ColumnTransformer   

numerical_transformer = StandardScaler()
oh_transformer = OneHotEncoder()

preproessor = ColumnTransformer(
    [
        ("oneHotEncoder", oh_transformer, cat_features),
        ("StandardScaler", numerical_transformer, num_features),
    ]
)

In [22]:

x=preproessor.fit_transform(x)

In [24]:
x.shape

(1000, 19)

# TRAIN, TEST ,SPLIT

In [27]:

x_train, x_test, y_train, y_test= train_test_split(x,y, test_size=0.1,random_state=42)
x_train.shape, x_test.shape, y_train.shape, y_test.shape

((900, 19), (100, 19), (900,), (100,))